
html, body, div, section, h1, h2, h3, p  {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; 
  box-sizing: border-box;
   
}

.intro {
  height: 800px;
  width: 100%;
  text-transform: uppercase;
  background-color: #2E2E2E; 
  margin: 0;
  padding-top: 7%;
}

#headshot {
  display: block;
  height: 200px;
  width: 160px;
  margin: 0 auto;  
}

h1, h2, h3, .quiver, .arrow {
  position: relative;
  color: #fff;
  text-align: center;
}

h1 {
  top: 8%;	
  letter-spacing: 0.5em;
}

h2 {
  top: 15%;
  letter-spacing: 0.3em;  
}

h3 {
  top: 20%;
  letter-spacing: 0.3em;    
}

.container {
  width: 80%;
}

#section1, #section3, #section5, #section7 {
  height: 250px;
  padding: 0;
  margin: 0; 
  background-image: url("../images/home-office-336373_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  -webkit-filter: grayscale(85%); 
  filter: grayscale(90%);  
}

#section2, #section4, #section6 {
  background-color: #2E2E2E; 
  position: relative;
  height: 300px;
  padding: 0;
}

.quiver {
  display: block;
  top: -5%;
  width: 100%;
  height: 25%;  
}

#quiver1 {
  top: 25%;
  height: 25%;
}

.arrow { 
  display: none;
  margin-bottom: 5%;
  font-size: 2.8em;
  font-weight: 400;
  color: #474747;
}

.arrow:hover{
  color: #fff;
  text-decoration: none;      
}

#arrow1 {
  top: 0%;
}

.sizeup {
  font-size: 1.5em;
}

.blurb {  
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 1%;
  margin: 4% auto 1.5%;
}

.city:link, .city:visited, .city:focus, .city:hover, .city:active   {
  color: #96D1E8;
  text-decoration: none;
}

#navlist {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto ;  
}

#navlist li{   
  list-style-type: none;    
  text-decoration: none;  
}

.social {
  color: #fff;
  letter-spacing: 1.3em;      
}

.social:hover{
  transform: scale(1.2);
  transition: transform 0.4s ease-in 0s;
}

.fa-envelope-o:hover {
  color: #ca3f3e;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-github:hover{
  color: #000;
}

.fa-twitter:hover {
  color: #55acee;
}


/**********  Media Queries Start **************/

@media (max-width: 480px){ 
   
   .intro {
     height: 600px;
   }
   
   #headshot {
     height: 150px;
     width: 120px;   
   }
   
   .section .quiver {
     height: 15%;
     top: 0;
   }
   
   .section .arrow {
     top: -20%;  
     margin: 0;
     font-size: 2.0em;
   }  
   
   #quiver1 {
     top: 20%;   
   }
   
   #arrow1 {
     top: -5%;
   }

   #section1, #section3, #section5, #section7 {
     background-image: url("../images/home-office-sm.jpg");
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     -webkit-filter: grayscale(85%); 
     filter: grayscale(90%); 
   }
   
   #section2, #section4, #section6 {
     height: 270px;
   }
   
   .section h2{
     top: 5%;
     letter-spacing: 0.2em;
     font-size: 1.6em;
     margin-bottom: 10%;
   }
   
   .container {
     width: 90%;
   }
   
   .blurb {
     display: block;
     top: 25%;
     letter-spacing: 0.1em;
     text-align: center;
     padding: 1%;
     margin: 1% auto 0;
   }
   
   #section6 .blurb {
     margin: 5% auto;
   }
   
   #navlist {
     margin-top: 5%;
     top: 10%;
   }
   
}
@media (min-width: 481px) and (max-width: 768px){
   
}



/**********  Greyscale CSS Start **************/

/*! Gray v1.4.2 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);

  /* Firefox 35+ */
  filter: grayscale(1);

  /* IE 6-9 */
  filter: gray;
}

.grayscale.grayscale-fade {
  transition: filter .5s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition:         -webkit-filter .5s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}














